<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXDb6V71it7DGY4-9rB7qbKkb9ooN-47g</string>
	<key>GCM_SENDER_ID</key>
	<string>787470282724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.asistenciaqr</string>
	<key>PROJECT_ID</key>
	<string>asistenciaqr-sy01we</string>
	<key>STORAGE_BUCKET</key>
	<string>asistenciaqr-sy01we.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787470282724:ios:e06c5138545933c78061f1</string>
</dict>
</plist>