
/* .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #1e3a5f; 
    padding: 20px;
    color: aliceblue;
  }
  
  .dashboardContent {
    width: 100%;
  }

h1{
    display: flex;
    justify-content: center;
} */